<!--  SECTION 1 -->
<div class="container" id="section_1" >

  <div id="info_h2">
    <h2 class="white_color center">Aprende a programar desde cero </h2>
  </div>
  <div id="info_h1">
    <h1 class="ruby_color">DESARROLLANDO TU APLICACIÓN WEB SOÑADA </h1>
  </div>

  <p class="white_color">Crea tu cuenta gratis: </p>

  <div class="sign_buttons">

    <div class="social_signin center ">
      <button type="button" class="btn btn-primary"><%= link_to "Regístrate con Facebook", "users/auth/facebook", style: "color: inherit; text-decoration: none;" %></button>
    </div>

    <div class="social_signin center ">
      <button type="button" class="btn btn-info"><%= link_to "Regístrate con Twitter", "users/auth/twitter", style: "color: inherit; text-decoration: none;" %></button>
    </div>

  </div>

</div>
<!--  SECTION 2 -->

<div id="section_2" class="container white_color center">
  <div id="section_2_subtitle">
    <h2>APRENDE RUBY ON RAILS Y OTRAS TECNOLOGIAS WEB PARA CREAR APICACIONES WEB INCREIBLES</h2>
  </div>
  <div id="section_2_title">
    <h1>CREA PROYECTOS REALES, IMPLEMENTA CARACTERÍSTICAS ÚTILES Y APRENDE LAS MEJORES PRACTICAS!</h1>
  </div>
</div>

<!--  SECTION 3 -->
<div id="section_3" class="container">

  <div class="row">
    <div class="col-md-6">
      <div class="sec_3_text">
        <h3> CREA APLICACIONES WEB </h3>
        <p> Escoge el proyecto que te gustaría construir y te guiamos paso
          a paso con nuestros tutoriales.
          Los puedes ver en cualquier momento y en cualquier lugar.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="course_box">
        <div class="course_img" >
        	<%= image_tag "logorails.png" %>
          <h6> Los Fundamentos </h6>
        </div>
        <div class="course_label_easy">
          Principiante
        </div>
      </div>

      <div class="course_box">
        <div class="course_img" >
        	<%= image_tag "market.png" %>          
          <h6> Market Place </h6>
        </div>
        <div class="course_label_hard">
          Avanzado
        </div>
      </div>
    </div>
</div>


  <div class="row">
    <div class="col-md-6">
      <div class="sec_3_text">
        <h3> MEJORA SUS CARACTERISTICAS </h3>
          <p> Nuestros codecast te ayudarán a añadir caracteristicas
            importantes a tu aplicación para hacerlas únicas.
          </p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="features_box">

	      <div class="icon_row">
          <div class="div_icon">
            <div class="icon_holder email_icon">
            	<%= image_tag("email.png", class: "icon" ) %>
            </div>
            <div class="feature_description">
              <h5 class="features"> Emails </h5>
            </div>
          </div>
          <div class="div_icon">
            <div class="icon_holder rating_icon">
            	<%= image_tag("rating.png", class: "icon" ) %>
            </div>
            <div class="feature_description">
              <h5 class="features"> Rating </h5>
            </div>
          </div>
          <div class="div_icon">
            <div class="icon_holder fb_icon">
            	<%= image_tag("fb1.png", class: "icon" ) %>
            </div>
            <div class="feature_description">
              <h5 class="features"> Redes Sociales </h5>
            </div>
          </div>
	      </div>


	      <div class="icon_row">
          <div class="div_icon">
            <div class="icon_holder notification_icon">
            	<%= image_tag("notification.png", class: "icon" ) %>
            </div>
            <div class="feature_description">
              <h5 class="features"> Notificaciones </h5>
            </div>
          </div>
          <div class="div_icon">
            <div class="icon_holder pay_icon">
            	<%= image_tag("pay.png", class: "icon" ) %>
            </div>
            <div class="feature_description">
              <h5 class="features"> Pagos </h5>
            </div>
          </div>
          <div class="div_icon">
              <div class="icon_holder map_icon">
              	<%= image_tag("map.png", class: "icon" ) %>
              </div>
            <div class="feature_description">
              <h5 class="features"> Mapas </h5>
            </div>
        	</div>
	      </div>

	      <div class="icon_row">

	        <div class="div_icon">
	          <div class="icon_holder search_icon">
	          	<%= image_tag("search.png", class: "icon" ) %>
	          </div>
	          <div class="feature_description">
	            <h5 class="features"> Busquedas </h5>
	          </div>
	        </div>

	        <div class="div_icon">
	          <div class="icon_holder secure_icon">
	          	<%= image_tag("secure.png", class: "icon" ) %>
	          </div>
	          <div class="feature_description">
	            <h5 class="features"> Autorizaciones </h5>
	          </div>
	        </div>

	        <div class="div_icon">
	          <div class="icon_holder ajax_icon">
	          	<%= image_tag("ajax.png", class: "icon" ) %>
	          </div>
	          <div class="feature_description">
	            <h5 class="features"> Ajax </h5>
	          </div>
	        </div>
	  		</div>
			</div>
    </div>	
  </div>
</div>


<!--  SECTION 4 -->
<div id="section_4" class="container white_color center">

  <div id="section_4_title">
    <h2>100+ PERSONAS ESTAN PROGRAMANDO SU SUEÑOS</h2>
  </div>
  <div >
    <h4>CONVIERTETE EN UN GRAN PROGRAMADOR:</h4>
  </div>

  <div class="social_signin_button center ">
    <button type="button" class="btn btn-primary"><%= link_to "Regístrate con Facebook", "users/auth/facebook", style: "color: inherit; text-decoration: none;" %></button>
  </div>
  <div class="social_signin_button center ">
    <button type="button" class="btn btn-info"><%= link_to "Regístrate con Twitter", "users/auth/twitter", style: "color: inherit; text-decoration: none;" %></button>
  </div>

</div>