<% provide(:title,  @course.principal_title + '|') %>

<!-- SECTION COURSE DESCRIPTION -->
            <div class="course-landing-description" style="
            	background: url(<%= @course.bg_picture.url %>) center center;
            ">

            	
              <div class="container">
                  <h2><%= @course.secondary_title %></h2>
                  <h1><%= @course.principal_title %>
                  </h1>
                  <div class="course-login">
                    <a class="course-login-link">Entrar al curso </a>
                  </div>
              </div>
            </div>



          <div class="container">

            <div class="row">
              <!-- SECTION COMPLETITION TIME -->
              <div class="col-sm-4 completition-time">
                <h3>Course estimated completion time</h3>
                <p>30 días <span class="one-hour time ">1 hora al día</span></p>
                <p>45 días <span class="time quarter">45 minutos al día</span></p>
                <p>60 días <span class="time half-hour">30 minutos al día</span></p>
              </div>

              <!-- COURSE DESCRIPTION -->
              <div class="col-sm-4 course-description">
                <h2>Descripción</h2>
                <p><%= @course.description %>
                <br> 
              </div>

              <!-- COURSE TOOLS -->
              <div class="col-sm-4 course-tools">
                <h2>Herramientas</h2>
                <p>
                  Public Activity
                  <br><br>Gravatars
                  <br><br>Content Detection
                  <br><br>Advanced Associations
                  <br><br>Dynamic Links
                </p>
              </div>
            </div>

              <!-- COURSE CONTENT-->
              <div class="course-content">
	                <div class="course-title">
	                  <h1>Contenido del Curso</hi>
	                  <h3><%= @course.title %></h3>
	                </div>

	                <div class="lecture">
	                	<% @course.chapters.each do |chapter| %>
	                		<div class="lecture-title">
			                    <h1><%= chapter.title%></h1>
			                 </div>

			                 <% chapter.subchapters.each do |subchapter| %>
			                 	<div class="lecture-section">
				                    
				                    <%= link_to course_subchapter_url(@course, subchapter), :class => "lecture-link" do %>
									  <%= image_tag('play.png') %> <%= subchapter.title %>
									<% end %>

	                 			</div>
			                 <% end %>
	                	<% end %>

	                

	                </div>


              </div>
          </div>
