<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title> <%= yield(:title) %> <%= render plain: "AprendeRails" %>  </title>
 	 <%= stylesheet_link_tag 'application', media: 'all',
      'data-turbolinks-track' => true %>

  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<% if current_user && current_user.email.split('@')[1] != 'change-me.com' %>
	<%= render "layouts/navbar" %>
<% else %>
	<%= render "layouts/header" %>
<% end %>

<%= render 'layouts/flash' %>

<%= yield %>

<%= render "layouts/footer" %>

</body>
</html>
